body{
    margin:0;
    /* text-align: center; */
}
h1{
    font-variant: small-caps;
    font-size: 30px !important;
}
.tile {
    position: relative;
    float: both;
    width: 555px;
    height: 700px;
    overflow: hidden;
    border: 50px solid rgba(197, 173, 183, 0.363);

  }
  .tileind{
    position: relative;
    float: both;
    width: 555px;
    height: 700px;
    overflow: hidden;
    border: 50px solid rgba(83, 71, 76, 0.363);
  }

  .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }
img{
    margin-top: 20px;
}
button{
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    border:none;
    font-family: Arial;
    color: rgb(255, 255, 255);
    font-size: 12px;
    background: #917c86;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    margin-left: 560px;
}
button:hover {
    background: rgb(189, 184, 184);
    text-decoration: none;
    color: aliceblue;
}
.like-content {
    display: inline-block;
    width: 100%;
    margin: 40px 0 0;
    padding: 40px 0 0;
    font-size: 18px;
    border-top: 10px dashed #eee;
    text-align: center;
}
.like-content span {
	color: #ffffff;
	font-family: monospace;
}
.like-content .btn-secondary {
	  display: block;
	  margin: 40px auto 0px;
    text-align: center;
    background: #ceb8bd;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(218, 175, 185);
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like-content .btn-secondary:hover {
	  transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
	  margin-right: 5px;
}
.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}
@keyframes likeAnimation {
  0%   { transform: scale(30); }
  100% { transform: scale(1); }
}

.like, .dislike {
    display: inline-block;
    margin: 10px;
    font-weight: normal;
    color: rgb(233, 233, 233);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #917c86;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 18px;
}
.qty1, .qty2 {
    border: none;
    width:20px;
    background: transparent;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.main-btn{
    background:#917c86;
    border-color:#917c86;
    color:#fff;
    margin: 8px;
}
.main-btn:hover{
    background:#917c86;
    color:rgb(189, 184, 184);
}

#commentsWrapper{
  overflow: hidden;
  /* overflow-wrap: break-word; */
}

.break-word{
  overflow-wrap:break-word;
  width: 70%;
  /* background: lime; */
}

.comments-list{
  /* overflow: auto; */
  /* overflow-y: auto;*/
  overflow-x: hidden; */
  height:600px;
  width: 800px;
  /* overflow-wrap:break-word; */
}
#navcol.navbar-inverse{
    /* background-color:rgba(146, 135, 142, 0.815); */
    background-color:transparent;
    border-color: transparent;
  }
#navcol a {
    color: #0e0c0c;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans";
    font-style: normal;
    font-variant: small-caps;
    font-weight: 800;
    font-stretch: ultra-expanded;
    line-height: 18px;
    background-color: transparent;
    margin-top: 10px;
  }

  /* #navcol button {
    color: #0e0c0c;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans";
    font-style: normal;
    font-variant: small-caps;
    font-weight: 800;
    font-stretch: ultra-expanded;
    line-height: 18px;
    background-color: transparent;
    margin-top: 10px;
} */

  #Message{
    min-width: 100%;
    min-height: 50%;
  }
#postIt{
    margin-bottom: 30px;
}
