body{
    /* text-align: center; */
}
img{
    margin-top: 20px;
}
button{
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    border:none;
    font-family: Arial;
    color: rgb(255, 255, 255);
    font-size: 12px;
    background: #a3967e;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    margin-left: 560px;
}
button:hover {
    background: #d1c6aa;
    text-decoration: none;
    color: aliceblue;
}
.like-content {
    display: inline-block;
    width: 100%;
    margin: 40px 0 0;
    padding: 40px 0 0;
    font-size: 18px;
    border-top: 10px dashed #eee;
    text-align: center;
}
.like-content span {
	color: #ffffff;
	font-family: monospace;
}
.like-content .btn-secondary {
	  display: block;
	  margin: 40px auto 0px;
    text-align: center;
    background: #ceb8bd;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(218, 175, 185);
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like-content .btn-secondary:hover {
	  transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
	  margin-right: 5px;
}
.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}
@keyframes likeAnimation {
  0%   { transform: scale(30); }
  100% { transform: scale(1); }
}

.like, .dislike {
    display: inline-block;
    margin: 10px;
    font-weight: normal;
    color: rgb(85, 62, 62);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #a3967e;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 18px;
}
.qty1, .qty2 {
    border: none;
    width:20px;
    background: transparent;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}

#commentsWrapper{
  overflow: hidden;
}
.comments-list{
  overflow: auto;
  /* overflow-y: auto;
  overflow-x: hidden; */
  height:600px;
  width: 800px;
}
