#navcol.navbar-inverse{
    background-color:transparent;
    border-color: transparent;
  }
  #navcol a{
    color: #0e0c0c;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans";
    font-style: normal;
    font-variant: small-caps;
    font-weight: 800;
    font-stretch: ultra-expanded;
    line-height: 18px;
    background-color: transparent;
    margin-top: 10px;
  }
  a:hover, a:active {
    background-color: rgb(2, 1, 1);
  } 
  
  a.button{
    background-color: #c9b8b6;
    color: rgb(8, 5, 5);
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
  }
  h3{
    padding: 30px;
    padding-left:0px;
    text-align: center;
  }
  .homebutton{
    margin: 30px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans";
    color: rgb(49, 49, 49) !important;    
    font-size: 20px;
    size: 20px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
  }
  .homepage{
    color: rgb(49, 49, 49) !important;        
  }
  .homepage:hover,.ing:hover{
    background-color:transparent!important;        
  }
