body {
  background-color: rgb(165, 161, 163);
}

.conForm{
padding-top: 10%;
}

*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.3em;
}

*[role="form"] h2 {
  margin-left: 5em;
  margin-bottom: 1em;
}

.form-horizontal{
width:100%;
}

.btn-primary{
  background-color: #917c86;
}

.btn-primary:hover{
  background-color: #ceb8bd;
}

.btn-primary:active{
  background-color: #D3C4BE;
}

meter {
  /* Reset the default appearance */
  /* -webkit-appearance: none; */
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }
