body {
    background-color: #C4BDAC;
}

.conForm{
  padding-top: 1%;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

.btn-register{
  background-color: #999999;
}

.form-horizontal{
  width:100%;
}
.bottomTextSize > ul > li {
  font-size: 10px;
}
