body{
  overflow: hidden;
  background-size:cover; 
}
h1{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans";
	font-style: normal;
	font-variant: small-caps;
  font-weight: 800;
  font-stretch: ultra-expanded;
  line-height: 18px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 130px;
  font-size: 60px;
  z-index: 1;
  position: absolute;
  text-align: center;
}

.btn-login{
  background-color: #999999;
}

.btn-signup{
  background-color: #E8E6D9
}

.formRight{
  padding-top: 35%;
}

.rightSide{
  background-color: #D3C4BE;
  height:1000px;
}

.col-md-6{
  padding:0;
}

.bottomTextSize > ul > li {
  font-size: 10px;
}

.navbar-nav>li>a{
  padding-top:5px !important;
  padding-bottom: 5px !important;
  line-height: 8px;
}
.navbar{
  min-height: 20px !important;
}

.leftSide{
  width: 50%;
  float:left;
}
.rightSide{
  width: 50%;
  float: right;
}
.leftPic{
height:100%;
}

.titleHead{
  position: relative;
  left:35%;
}