body{
    overflow: hidden;
  }
  .btn-signup{
    background-color: #E8E6D9;
  }
  
  .rightSide{
    background-color: rgb(189, 179, 180);
    height:1000px;    
  }
  .leftSide{
    background-color: #D3C4BE;
    height:1000px;    
  }
  .col-md-6{
    padding:80px;
  }
