body{
  overflow: hidden;
}

.formRight{
  padding-top: 35%;
}

.rightSide{
  background-color: #007EFF;
  height:1000px;
}

.col-md-6{
  padding:0;
}

.bottomTextSize > ul > li {
  font-size: 10px;
}
