body{
  background-color: #ffffff !important;
}
.gallery {
  margin: 30px;
  /* border: 1px solid #ccc;
  border-radius: 4px; */
  float: left;
  left:4.5%;
  position: relative;
  width: 350px;
  text-align: center;
  padding: 10px;
}

.gallery:hover {
  /* border: 1px solid #777; */
  opacity: 0.7;
}

.gallery img {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  border-radius: 4px; 
}
a:hover, a:active {
  background-color: rgb(2, 1, 1);
} 

a.button{
  background-color: #c9b8b6;
  color: rgb(8, 5, 5);
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}
#navcol.navbar-inverse{
  background-color: #4d4d4d;
  border-color: transparent;
}
#navcol a{
  color: #faeded;
}


