<?php
if ($_POST){

$name = $_POST['name'];
$content = $_POST['commentContent'];
$handle = fopen("comments.html","a");
fwrite ($handle,"" . $content . "");
fclose ($handle);}

?>
<!DOCTYPE html>
<html lang="en">

<!-- HTML HEADER   -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cracking The Resume</title>
    <link href="stylesheets/acc.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../javascript/account.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<!-- END OF HTML HEADER -->

<!-- HTML BODY -->
<body>

<!-- NAVIGATION BAR  -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/split">Cracking The Resume </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="resumeViewing">View Other Resumes</a></li>
                        <li><a href="accounts">View Your Resume</a></li>
                    </ul>
                </li>
                <li><a href="settings">Settings</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END OF NAVIGATION BAR  -->


<div class="container">
    <div class="row">

        <div class="col-md-6" style="text-align:center;">            
            <!-- <img src="http://www.gfyork.com/wp-content/uploads/2017/09/resume-latex-template-latex-templates-curricula-vitaersums-templates-1.png" height="500" width="350"> -->

            <!-- RESUME IMAGE  -->
            <img src="<%=resumeRecord.resumeName%>" height="500" width="350">

            <div class="row">
                <div class="col-md-12">
                    <!-- LIKE BUTTON  -->
                    <a class="like"><i class="fa fa-thumbs-o-up"></i>
                        Like <input class="qty1" name="qty1" readonly="readonly" type="text" value="0" />
                    </a>
                    <!-- DISLIKE BUTTON  -->
                    <a class="dislike"><i class="fa fa-thumbs-o-down"></i>
                        Dislike <input class="qty2"  name="qty2" readonly="readonly" type="text" value="0" />
                    </a>
                    <!-- COMMENT FORM BOX -->
                    <form method = "post" action = '/accounts' role = 'form' target = "uploader_iframe">
                        <input type = 'text' class="form-control" rows="3" name="Message" id="Message" placeholder="Message">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- POSTCOMMENT BUTTON -->
                                <input type="submit" id="postIt" class="btn main-btn" value = "postComment"/>
                            </div> <!--END OF class = "col-md-12" DIV TAG -->
                        </div> <!-- END OF class = "row" DIV TAG -->
                    </form>
                    <!-- <iframe id = "uploader_iframe" name = "uploader_iframe" style = "display: none;"></iframe> -->
                    
                </div> <!--END OF class = "col-md-12" DIV TAG -->
            </div> <!-- END OF class = "row" DIV TAG -->

           

            <!-- <button type="button" class="pull-left" onclick="">Update Resume</button><br><br><br> -->
        </div>

        <div class="col-md-6" id="commentsWrapper">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header">
                        <h1><small id="commentCount" class="pull-right">comment count #</small> Comments </h1>
                    </div>
                    <div class="comments-list">
                       <!-- for loop  -->
                       <%resumeRecord.comments.forEach(function(comment){ %>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading user_name"><%=comment.username%></h4>
                                <p><%=comment.content%></p>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include "comments.html"; ?><br>

</body>
</html>