doctype html
html
  head
    script(src='https://code.jquery.com/jquery.min.js')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://code.jquery.com/jquery-3.1.0.js')
    link(rel='stylesheet', type='text/css', href='styles/formpage.css')
    script(src='javascript/formpage.js')
  body
    .row
      .col-md-2
      .col-md-8
        .container.conForm
          form.form-horizontal(role='form')
            h2 Let's get started
            .form-group
              label.col-sm-3.control-label(for='firstName') Full Name
              .col-sm-9
                input#firstName.form-control(type='text', placeholder='Full Name', autofocus='')
                span.help-block Last Name, First Name, eg.: Smith, Harry
            .form-group
              label.col-sm-3.control-label(for='email') Email
              .col-sm-9
                input#email.form-control(type='email', placeholder='Email')
            .form-group
              label.col-sm-3.control-label(for='password') Password
              .col-sm-9
                input#password.form-control(type='password', placeholder='Password')
            .form-group
              label.col-sm-3.control-label(for='birthDate') Date of Birth
              .col-sm-9
                input#birthDate.form-control(type='date')
            .form-group
              label.col-sm-3.control-label(for='country') Major
              .col-sm-9
                select#country.form-control
                  option Computer Science
                  option Computer Engineering
                  option Civil Engineering
                  option Industrial Engineering
                  option Graphic Design
                  option Computer Gamer
                  option Electrical Engineering
                  option Undecided
            // form group
            .form-group
              label.control-label.col-sm-3 Gender
              .col-sm-6
                .row
                  .col-sm-4
                    label.radio-inline
                      input#femaleRadio(type='radio', name='radAnswer', value='Female')
                      | Female
                  .col-sm-4
                    label.radio-inline
                      input#maleRadio(type='radio', name='radAnswer', value='Male')
                      | Male
                  .col-sm-4
                    label.radio-inline
                      input#unknownRadio(type='radio', name='radAnswer', value='Unknown')
                      | Unknown
            // /.form-group
            .form-group
              label.control-label.col-sm-3 Resume
              .col-sm-9
                label.custom-file
                  input#file.custom-file-input(type='file')
                  span.custom-file-control
            // /.form-group
            .form-group
              .col-sm-9.col-sm-offset-3
                .checkbox
                  label
                    input(type='checkbox')
                    | I accept 
                    a(href='#') terms
            // /.form-group
            .form-group
              .col-sm-9.col-sm-offset-3
                button.btn.btn-primary.btn-block(type='submit') Register
          // /form
        // ./container
      .col-mid-2
