<!DOCTYPE html>
<html>
<head>
  <title>Reschk</title>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css">
  <script src="../routes/index.js"></script>
</head>
<body>
     <div class="theWhole">
       <div class="titleHead">
         <h1>Cracking The Resume</h1>
      </div>
    <div class=" leftSide">
      <img class="img-responsive leftPic" src="resumecopy.jpg" alt="">
    </div>
    <div class=" rightSide">
      <div class="row">
        <div class="col-xs-3">
        </div>
        <div style="text-align:center;" class="col-xs-6">
          <form class="formRight" method="post" action="/">
            <div class="form-group">
             <label for="username"><%=UsernameError%></label>
             <input type="username" class="form-control" id="username1" placeholder="Enter username" name = "username">
            </div>

            <div class="form-group">
             <label for="password"><%=PasswordError%></label>
             <input type="password" class="form-control" id="password1" placeholder="Enter password" name = "password">
            </div>

            <button class="btn btn-login">
              Login
            </button>
          </form>

          <h2>New to CTR?</h2>
          <button onclick="window.location='signUp';" class="btn btn-signup btn-lg">
            Sign Up
          </button>
        </div>
        <div class="col-xs-3">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
