<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/homepage.css">
  <script src="javascript/homepage.js"></script>
</head>
<body>
  <div style="" class="row theWhole">
    <div class="col-md-6 leftSide">
      <img class="img-responsive leftPic" src="https://previews.123rf.com/images/viktorijareut/viktorijareut1601/viktorijareut160100504/51458453-vector-illustration-curriculum-vitae-with-woman-polaroid-photo-cv-on-blue-background-job-interview-c.jpg" alt="">
      <!-- <img class="img-responsive leftPic" src="https://previews.123rf.com/images/mamanamsai/mamanamsai1506/mamanamsai150600565/41139381-resume-and-businessman-info-graphic-design-on-white-background.jpg" alt=""> -->
    </div>
    <div class="col-md-6 rightSide">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div style="text-align:center;" class="col-md-6">
          <form class="formRight">
            <div class="form-group">
             <label for="username"></label>
             <input type="username" class="form-control" id="username1" placeholder="Enter username">
            </div>

            <div class="form-group">
             <label for="password"></label>
             <input type="password" class="form-control" id="password1" placeholder="Enter password">
            </div>

            <button class="btn btn-primary">
              Login
            </button>
          </form>

          <h1>New to CTR?</h1>
          <button onclick="window.location='signup';" class="btn btn-success btn-lg">
            Get Started
          </button>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bottom-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Resume</a> -->
      </div>
      <div class="navbar-collapse collapse bottom-collapse centerIt">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-mid-8 bottomTextSize">
            <ul class="nav navbar-nav">
              <li><a href="#">Info</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Businesses</a></li>
              <li><a href="#">Developers</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Advertisements</a></li>
              <li><a href="#">Applications</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Directory</a></li>
              <li><a href="#">2018 Cracking Resume</a></li>
            </ul>
          </div>
          <div class="col-mid-2">
          </div>
      </div>
    </div>
  </div>
</body>
</html>
