<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/redirect.css">
    <script src="Javascript/accounts.js"></script>
</head>
<body>
    <div style="text-align:center;" class="col-md-6">
        <h1>Congratulations you have signed up for Cracking The Resume</h1>
        <a href = "/" class = "btn btn-signup btn-lg" role = "button"> Log In </a>
    </div>
</body>
</html>