<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/redirect.css">
    <script src="Javascript/accounts.js"></script>
</head>
<body>
    <div style="text-align:center;" class="col-md-6">
        <h1>Congratulations you have signed up for Cracking The Resume.</h1>
        <a href = "/" class = "btn btn-signup btn-lg" role = "button"> Log In </a>
    </div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bottom-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
         
        </div>
        <div class="navbar-collapse collapse bottom-collapse centerIt">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-mid-8 bottomTextSize">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Info</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Businesses</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Advertisements</a></li>
                        <li><a href="#">Applications</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Directory</a></li>
                        <li><a href="#">2018 Cracking Resume</a></li>
                    </ul>
                </div>
                <div class="col-mid-2">
                </div>
            </div>
        </div>
    </div>
</body>
</html>