<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css">
  <script src="../routes/resumeTest.js"></script>
</head>
<body>
	<h1>This is a test page</h1>
	<!-- <h2>"<%=resume.resumePDF%>"<h2> -->
	<div><%resume.resumePDF%></div>
	<!-- <embed src="<%=resume.resumePDF%>" width="800px" height="2100px" type='application/pdf' /> -->

	<embed src = "data: application/pdf; base64, R3VvX1NoYWxseV9SZXN1bWUucGRm">
</body>
</html>