<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cracking The Resume</title>
        <link href="../public/stylesheets/viewing.css" rel="stylesheet">
        <link href="../public/stylesheets/lightbox.css" rel="stylesheet">
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    </button>
                    <a class="navbar-brand" href="split.ejs">Cracking The Resume</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="acc.ejs">About</a></li>
                    <li><a href="settings.ejs">Account</a></li>
                    <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav> 
        
        <div class="contain">
                <h1>Internships</h1>
        
              <div class="row">
                <div class="row__inner">
            
                  <div class="tile">
                    <div class="tile__media">
                            <a href="#img1"><img class="tile__img" data-lightbox="image-1" data-title="Looking for Data Science Internship" src="https://i.pinimg.com/736x/c1/9c/f4/c19cf4398e18e8bc9961f7f7a85bc0a7--objectives-sample-resume-objective-sample.jpg" alt="" /></a>
                            <a href="#_" class="lightbox" id="img1"><img src="https://i.pinimg.com/736x/c1/9c/f4/c19cf4398e18e8bc9961f7f7a85bc0a7--objectives-sample-resume-objective-sample.jpg"></a>
                          </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="https://wp.myperfectresume.com/wp-content/uploads/2014/05/human-resources-manager-human-resources-thumbnail2.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="http://www.footrule.org/wp-content/uploads/2018/02/Lovely-Make-Resume-34-About-Remodel-Resume-Sample-with-Make-Resume.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="http://shalomhouse.us/wp-content/uploads/2018/02/resume-examples-templates-good-job-for-high.png" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="https://i.pinimg.com/736x/00/4f/b6/004fb64a04d13b09dd8b52a7ab4fbbf4--example-of-resume-student-resume.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="http://shalomhouse.us/wp-content/uploads/2018/02/sample-resume-admin-assistant-billing-clerk.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="https://i.pinimg.com/736x/92/ce/d1/92ced17c334acfe5abb6f8b974ac7950--high-school-resume-template-online-resume-template.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="http://recentresumes.com/wp-content/uploads/2016/05/Example-of-Standard-Resume-Senior-CS-Resume.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="http://soaringeaglecasino.us/wp-content/uploads/2018/02/free-resume-templates-5a7ecc04d7e21.png" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="https://i.pinimg.com/originals/12/c9/7f/12c97fd315b54583d10d562f34ab0097.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="https://i.pinimg.com/736x/e7/46/8c/e7468cb283e94e3ef7653074d11dad6f--sample-resume-resume-format.jpg" alt="" />
                    </div>
                </div>
              </div>
            </div>
          </div>


          <div class="contain">
            <h1>Full Time</h1>
              <div class="row">
                <div class="row__inner">
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="http://www.gfyork.com/wp-content/uploads/2017/09/resume-latex-template-latex-templates-curricula-vitaersums-templates-1.png" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="https://i.pinimg.com/736x/e7/46/8c/e7468cb283e94e3ef7653074d11dad6f--sample-resume-resume-format.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="http://recentresumes.com/wp-content/uploads/2016/05/Example-of-Standard-Resume-Senior-CS-Resume.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="https://i.pinimg.com/736x/00/4f/b6/004fb64a04d13b09dd8b52a7ab4fbbf4--example-of-resume-student-resume.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="https://i.pinimg.com/originals/12/c9/7f/12c97fd315b54583d10d562f34ab0097.jpg" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="http://shalomhouse.us/wp-content/uploads/2018/02/resume-examples-templates-good-job-for-high.png" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="http://www.gfyork.com/wp-content/uploads/2017/09/resume-latex-template-latex-templates-curricula-vitaersums-templates-1.png" alt="" />
                    </div>
                  </div>
            
                  <div class="tile">
                    <div class="tile__media">
                      <img class="tile__img" src="https://wp.myperfectresume.com/wp-content/uploads/2014/05/human-resources-manager-human-resources-thumbnail2.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <script src="javascript/viewing.js"></script> -->
  </body>
</html>