<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cracking The Resume</title>
        <link href="stylesheets/viewing.css" rel="stylesheet">
        <link href="stylesheets/setting.css" rel="stylesheet">
        <link href="stylesheets/lightbox.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
          <script src="https://code.jquery.com/jquery.min.js"></script>
          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="../Javascript/setting.js"></script>
    </head>
    <body>
        <nav id="navcol" class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    </button>
                    <a class="navbar-brand" href="/split" style="font-size:30px">Cracking The Resume</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" style="font-size:19px">
                      <li class="dropdown">
                        <a href="/accounts" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Resume<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/resumeViewing">View Other Resumes</a></li>
                            <li><a href="/accounts">View Your Resume</a></li>
                        </ul>
                    </li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/faq">Faq</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
                <!-- Form Name -->
                <legend>Account settings</legend>
                    <form name="password" action = "/settings" class= "form-horizontal" role="form" method="post">
                      <div class="form-group">
                          <label for="password" class="col-sm-3 control-label">Password</label>
                          <div class="col-sm-9">
                              <input type="password" name = "password" id="password" placeholder="Password" class="form-control" required>
                              <meter max="4" id="password-strength-meter"></meter>
                              <p id="password-strength-text" class="textMeter" style="font-size:11px;"></p>
                              <input type="checkbox" id="checkLength"  value="checkLength" required="required" style="display:none;">

                          </div>
                      </div>
                      <div class="form-group">
                          <label for="password" class="col-sm-3 control-label">Retype Password</label>
                          <div class="col-sm-9">
                              <input type="password" name = "confirm_password" id="confirm_password" placeholder="Retype your password" class="form-control" required="required">
                              <span id='message' required="required"></span>
                              <input type="radio" id="checkSame" name="gender" value="male" required="required" style="display:none;">
                          </div>
                      </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <input id="newPassButton" class="btn btn-primary" type="submit" value="Save password"/>
                            </div>
                        </div>
                    </form>
                    <br>

            <form name="updateResume" action = "settings/updateResume" class= "form-horizontal" role="form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label col-sm-3"> Update Resume</label>
                        <div class="col-sm-9">
                            <label class="custom-file" style="overflow:hidden;">
                                <input type="file" id="fileUpload" class="custom-file-input" name = "resume" required="required" >
                                <input type="checkbox" id="checkResume" name="checkbox" value="checkFile" required="required" style="display:none;">Upload a PDF file<br>
                                <!-- <p>(PNG)*</p> -->
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <input class="btn btn-success" type="submit" id="submitForm" value="Save Resume"/>
                        </div>
                    </div>
            </form>
        </div>
  </body>
</html>
