<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/split.css">
    <script src="javascript/accounts.js"></script>
</head>
<body>
<div class="row theWhole"></div>
<div class="col-md-6 leftSide">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div style="text-align:left" class="col-md-6">
            <h1>View Your Resume</h1>
            <a href = "/accounts" class = "btn btn-signup btn-lg" role = "button"> Get Started </a>
        </div>
    </div>
</div>
<div class="col-md-6 rightSide">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div style="text-align:left" class="col-md-6">
            <h1>Review Other Resumes</h1>
            <a href = "resumeViewing" class = "btn btn-signup btn-lg" role = "button"> Get Started </a>
        </div>
    </div>
</div>
</div>
</body>
</html>